.cardbgw {
  background-color: rgb(37, 37, 37);
  text-align: center;
  padding: 10px;
  color: #fff;
  box-shadow: 5px 5px #888888;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.cardtitpro {
  font-size: 1.6rem;
  text-align: left;
}

.celsSign {
  font-weight: bold;
  text-align: left;
}

.cardTemps {
  text-align: left;
}

.icoBlue {
  color: #65afff;
}

.icoRed {
  color: #fe5f55;
}

.cardimgpro {
  /* flex: 0 auto; */
  /* float: right; */
  align-self: center;
  height: 100px;
  width: 100px;
}

.cardStatus {
  text-transform: uppercase;
}

#minmaxtemp {
  text-align: right;
}
